*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font: 1em/1.5 "Encode Sans Condensed", sans-serif;
  width: 100%;
  height: 100%;
  background-color: #21232f;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: #21232f;
  width: 100%;
  min-height: 100%;
  margin: 0;
  position: relative;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

article,
aside,
footer,
header,
nav,
section,
figcaption,
figure,
main,
details,
menu {
  display: block;
}

figure {
  margin: 1em 40px;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

textarea {
  resize: none;
}

h1 {
  margin: 0;
  text-align: center;
  color: #fff;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 15px;
}

h1,
h2,
h3,
h4 {
  color: #fff;
  font-family: 'Coda', cursive;
}

.h-section {
  text-align: center;
  text-transform: uppercase;
}

.h-page {
  color: inherit;
  text-align: center;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

img {
  width: inherit;
  /*IE8*/
  max-width: 100%;
  height: auto;
}

a:active,
a:hover {
  outline-width: 0;
}

a:hover,
a:focus {
  border: 0;
  text-decoration: none;
}

.white-link {
  color: #fff;
  -webkit-tap-highlight-color: white;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

video {
  position: relative;
  padding-top: 56.25%;
  height: 0;
  overflow: hidden;
}

video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

th,
td {
  padding: 5px 10px;
}

th {
  color: #fff;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

q {
  font-style: italic;
}

p,
li,
dd,
dt {
  font-size: 20px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  flex-direction: column;
}

.wrapper .container {
  width: 35%;
  height: 400px;
  margin: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.wrapper .date {
  -ms-flex-item-align: start;
      align-self: flex-start;
  text-align: center;
  margin-left: 85px;
}

.wrapper .date h3 {
  font-size: 20px;
}

.wrapper .date h1 {
  font-size: 50px;
}

.wrapper img {
  width: 90%;
}

@media only screen and (min-width: 1024px) {
  .wrapper .container {
    width: 50%;
  }
  .wrapper img {
    width: 100%;
  }
  .wrapper .items {
    font-size: 30px;
    margin-top: 0;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

@media only screen and (min-width: 720px) {
  .wrapper .container {
    width: 60%;
  }
  .wrapper img {
    width: 100%;
  }
  .wrapper .items {
    font-size: 25px;
    margin-top: 0;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

footer {
  width: 100%;
  position: absolute;
  background-color: black;
  color: white;
  bottom: 0;
  right: 0;
  left: 0;
}

footer .container-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 10%;
}

footer a {
  text-decoration: none;
  color: white;
  margin-top: 20px;
  font-size: 20px;
}

@media only screen and (min-width: 720px) {
  footer h4, footer p, footer a {
    font-size: 20px;
  }
  footer .container-info {
    margin: 0 15%;
  }
}

@media only screen and (min-width: 320px) {
  footer h4 {
    font-size: 8px;
  }
  footer p, footer a {
    font-size: 10px;
  }
  footer .container-info {
    margin: 0;
  }
}

.l-content {
  margin: 0 auto;
  width: 65%;
}

.l-group:before, .l-group:after {
  content: " ";
  display: table;
}

.l-group:after, .l-group:after {
  clear: both;
}

.group {
  margin: 0 auto;
  max-width: 300px;
}

.group:before, .group:after {
  content: " ";
  display: table;
}

.group:after, .group:after {
  clear: both;
}

@media only screen and (min-width: 375px) {
  .group {
    max-width: 320px;
  }
}

@media only screen and (min-width: 412px) {
  .group {
    max-width: 350px;
  }
}

@media only screen and (min-width: 600px) {
  .group {
    max-width: 450px;
  }
}

@media only screen and (min-width: 768px) {
  .group {
    max-width: 600px;
  }
}

@media only screen and (min-width: 960px) {
  .group {
    max-width: 850px;
  }
}

@media only screen and (min-width: 1024px) {
  .group {
    max-width: 900px;
  }
}

.bg-hero {
  background-image: url("../img/hero-home.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: transparent;
  color: #fff;
  height: 40rem;
  overflow: hidden;
  position: relative;
  z-index: 2;
}

body {
  background-size: cover;
}

@media only screen and (min-width: 320px) {
  body {
    background-image: url("../img/small-320.png");
  }
}

@media only screen and (min-width: 720px) {
  body {
    background-image: url("../img/medium.png");
  }
}

@media only screen and (min-width: 1024px) {
  body {
    background-image: url("../img/medium.png");
  }
}

@media only screen and (min-width: 1200px) {
  body {
    background-image: url("../img/big.jpg");
  }
}

/*.btn {

}*/
.btn--principal {
  background-color: #28b5a9;
}

.btn--principal:hover {
  background-color: #ecb7b8;
}

.btn--secundary {
  background-color: #28b5a9;
}

.btn--secundary:hover {
  background-color: #ecb7b8;
}

.btn-principal {
  width: 90%;
  border: 2px solid #fff;
  font-size: 35px;
  margin: 30px;
  padding: 10px;
  background-color: transparent;
  color: #fff;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
  border-radius: 3%;
}

.btn-principal:hover {
  background-color: #fff;
  color: black;
  width: 95%;
}
