.l-content {
  margin: 0 auto;
  width: 65%;
}

.l-group {
  @include micro-clearfix;
}

.group {
  @include micro-clearfix;
  margin: 0 auto;
  max-width: 300px;

  @include query(375px) {
    max-width: 320px;		
}

  @include query(412px) {
    max-width: 350px;		
  }

  @include query(600px) {
    max-width: 450px;		
  }    

  @include query(768px) {
    max-width: 600px;		
  }

  @include query(960px) {
    max-width: 850px;		
  }

  @include query(1024px) {
    max-width: 900px;		
  }
}

.bg-hero {
  background-image: url('../img/hero-home.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: transparent;
  color: #fff;
  height: 40rem;
  overflow: hidden;
  position: relative;
  z-index: 2;
}

body {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 

  @include query(320px) {
    background-image: url("../img/small-320.png");
  }

  @include query(720px) {
    background-image: url("../img/medium.png");
  }

  @include query(1024px) {
    background-image: url("../img/medium.png");

  }

  @include query(1200px) {    
    background-image: url("../img/big.jpg");

  }
}



