//fonts
$font-family-base: 'Encode Sans Condensed', sans-serif;
$font-family-contrast: 'Courgette', cursive;;

//colores
$color-white: #f7f7f7;
$color-base: #21232f;
$color-contrast: #28b5a9;
$color-hover:#ecb7b8;
$color-opacity-home: rgba(33, 35, 47, 0.6);
$color-opacity: rgba(33, 35, 47, 0.96);




